/*-----common-----*/
/*---background---*/
$top_bg_color: #6c81b3;
$left_bg_color: #2d323f;
$frame_bg_colorf3: #f3f3f3;
$frame_bg_coloreee: #eee;
$frame_bg_colorddd: #ddd;
$frame_bg_org: #ff7700;
$frame_bg_red: #ff5500;
$frame_bg_blue: #5e8dcf;
$frame_bg_green: #5e8dcf; /*---background---*/
/*---color---*/
$color333: #333;
$color666: #666;
$color999: #999;
$colord1: #d1d1d1;
$colordfff: #fff; /*---color---*/
/*-----common-----*/
