.fxts_taRed {
    background-image: url("../assets/img/redinner.png")
}

.fxts_taOrg {
    background-image: url("../assets/img/orginner.png")
}

.fxts_taGreen {
    background-image: url("../assets/img/greeninner.png")
}
