@import "./common.scss";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &:after,
  &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
  font-size: 20px;
}
// @media screen and (min-width:1367px) and (max-width:1440px) {
//   html {
//     font-size: 22px;
//   }
// }
// @media screen and (min-width:1441px) and (max-width:1600px) {
//   html {
//     font-size: 24px;
//   }
// }
// @media screen and (min-width:1601px) and (max-width:1920px) {
//   html {
//     font-size: 28px;
//   }
// }

body {
  font-family: \5FAE\8F6F\96C5\9ED1, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.7rem;
  line-height: 1.42857143;
  color: #333;
  height: 100%;
}

body #app {
  height: 100%;
}

button,
input,
select,
textarea {
  font-family: \5FAE\8F6F\96C5\9ED1, Helvetica Neue, Helvetica, Arial, sans-serif;
}
button {
    outline: none;
}

img {
  border: 0;
  page-break-inside: avoid;
  max-width: 100% !important;
  vertical-align: middle;
}

li,
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input {
  border: 0;
  outline: none;
  vertical-align: middle;
}

a {
  color: #333;
  text-decoration: none;
  background-color: transparent;

  &:active,
  &:hover {
    color: #f44336;
    outline: 0;
    text-decoration: none;
  }
}

.icon {
  width: 1rem;
  height: 1rem;
  vertical-align: -0.3rem;
  fill: currentColor;
  overflow: hidden;
}
